.button {
  width: 100%;
  max-width: 340px;
  margin-left: 20px;
  margin-right: 20px;
  height: 60px;
  background-color: #5552e8;
  border-radius: 7px;
  border: #5e5ce700 solid 3px;
  margin-top: 30px;

  z-index: 3;
  transition: 0.5s;
}

.button:hover {
  background-color: #5e5ce7;
  width: 360px;
  border: #ffffff6c solid 3px;
}

.button_text {
  color: white;
  font-size: 24px;
  z-index: 3;
}

@media (max-width: 768px) {
  .button {
    height: 45px;
    margin-top: 15px;
  }

  .button_text {
    font-size: 17px;
  }
}
@media (max-width: 425px) {
  .button {
    height: 45px;
    width: 270px;
    margin-top: 15px;
  }

  .button_text {
    font-size: 17px;
  }
}

@media (max-width: 375px) {
  .button {
    width: 70%;
    height: 35px;
    margin-top: 15px;
  }

  .button:hover {
    width: 70%;
  }

  .button_text {
    font-size: 15px;
  }
}

@media (max-width: 320px) {
  .button {
    width: 70%;
    height: 35px;
    margin-top: 15px;
  }

  .button:hover {
    width: 70%;
  }

  .button_text {
    font-size: 15px;
  }
}
