.button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 24%;
  height: 170px;
  background-color: #f6f6f6;
  border: solid 3px #e3e3e3;
  margin: 3px;

  z-index: 3;
  transition: 0.5s;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0);
}

.button:hover {
  background-color: #f3efef;
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.417);
}

.button:hover h1 {
  color: rgb(79, 55, 55);
  transition: 0.5s;
  z-index: 3;
}

.text {
  color: #6b5f5f;
  font-size: 24px;
  z-index: 3;
}

@media (max-width: 768px) {
  .button {
    width: 30%;
    height: 170px;
  }
  .text {
    font-size: 18px;
    margin-top: 10px;
    font-weight: bold;
    height: 30px;
  }
}

@media (max-width: 425px) {
  .button {
    width: 30%;
    height: 170px;
  }
  .text {
    font-size: 15px;
    font-weight: bold;
    height: 30px;
  }
}
@media (max-width: 375px) {
  .button {
    width: 44%;
    height: 170px;
  }
  .text {
    font-size: 15px;
    font-weight: bold;
    height: 30px;
  }
}
@media (max-width: 320px) {
  .button {
    width: 44%;
    height: 170px;
  }
  .text {
    font-size: 15px;
    font-weight: bold;
    height: 30px;
  }
}
