.content-box-white {
  position: relative;
  display: flex;
  justify-content: center;
  background-color: white;
  padding-top: 15px;
  padding-bottom: 15px;
}

.nav-flex {
  display: flex;
  justify-content: center;

  flex-wrap: wrap;
}
